{% extends 'base.html' %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-100">


 <div class="card shadow-sm align-center " style="width: 100%; max-width: 630px; height: auto; max-height: 700px">
      <h1 class="card-title align-center " style="align-self: center">Login</h1>
     <div class="bg-danger align-center " style="align-self: center; border-radius: 20px; align-items: center;">
     {%  if errors %}
         <ul>{%  for error in errors %}
             <li>
             {{ error }}
         </li>
             {%  endfor %}
         </ul>
     {%  endif %}
     </div>
  <div class="card-body">
    <form method="post" action="{{url_for('login')}}">
        <input type="hidden" name="next" value="{{ request.args.get('next', '') }}">
   <div class="mb-3 row">
  <label for="username" class="col-sm-2 col-form-label">User Name</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" id="username" name="username" placeholder="username">

  </div>
</div>

    <div class="mb-3 row">
  <label for="password" class="col-sm-2 col-form-label">Password</label>
  <div class="col-sm-10">
    <input type="password"  class="form-control" id="password" name="password" placeholder="******">
  </div>
</div>
  <div class="mb-3 row">
  <label for="remember_me" class="col-sm-2 col-form-label">Remember Me</label>
  <div class="col-sm-10 " style="top: 5px; display: flex; align-items: center; align-self: center;">
    <input type="checkbox"  class="align-center" id="remember_me" name="remember_me" value=1 style="align-items: center; align-self: center; top: 5px;">
  </div>
</div>
<div class="mb-3 row" style="justify-content: center;">
  <div class="col-sm-10">
<a href="{{ url_for('register') }}" class="btn btn-link">Don't have an account? Register here</a>
  </div>
</div>
  <div class="mb-3 row" style="justify-content: center;">
  <div class="col-sm-10">
    <button type="submit"  class="form-control bg-primary justify-content-center " id="login" name="login">Login</button>
{#      <button type="button" class="btn btn-primary" id="liveToastBtn">Show live toast</button>#}

  </div>
</div>
      </form>
</div>
  </div>
    </div>
    <script>
    const toastTrigger1 = document.getElementById('login')
const toastLiveExample1 = document.getElementById('liveToast1')

if (toastTrigger1) {
  const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample1)
  toastTrigger1.addEventListener('click', () => {
    toastBootstrap.show()
  })
}
</script>




{% endblock %}