{% extends 'base.html' %}
{% block content %}
<!-- Main centering wrapper -->
<div class="container d-flex justify-content-center align-items-center vh-100">

  <!-- Centered Card Component -->
  <div class="card shadow-sm align-center  align-items-center" style="width: 100%; max-width: 500px; height: auto; max-height: 700px">
      <h1 class="card-title align-center justify-content-center align-items-center  " style="align-self: center">Register</h1>
      <div class="bg-danger " style="border: black; border-radius: 20px;">
        {%  if errors  %}
          <ul>
              {% for error in errors %}
              <li>
                  {{ error }}
              </li>
              {%  endfor %}
          </ul>
      {%  endif %}

      </div>
    <div class="card-body">

      <form method="post" action="{{url_for('register')}}">

        <div class="mb-3 row">
          <label for="username" class="col-sm-3 col-form-label">Username</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="username" name="username" placeholder="username">
                  <div id="usernameHelp" class="form-text">User Name must be greater than 3 characters.</div>
                </div>
          </div>


        <div class="mb-3 row">
          <label for="email" class="col-sm-3 col-form-label">Email</label>
          <div class="col-sm-9">
            <input type="email" class="form-control" id="email" name="email" placeholder="email@example.com">
                  <div id="emailHelp" class="form-text">Email must be a valid email.</div>
  </div>
          </div>


        <div class="mb-3 row">
          <label for="password" class="col-sm-3 col-form-label">Password</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" id="password" name="password" placeholder="******">
                  <div id="passwordHelp" class="form-text">Password must be at least 6 characters.</div>
  </div>
          </div>


        <div class="mb-3 row">
          <label for="confirm_password" class="col-sm-3 col-form-label text-nowrap">Confirm Pass</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" id="confirm_password" name="confirm_password">
          </div>
        </div>
        <div class="mb-3 row" style="justify-content: center;">
  <div class="col-sm-10">
<a href="{{ url_for('login') }}" class="btn btn-link">Already have an account? Login here</a>
  </div>
</div>
        <!-- Centered Submit Button -->
        <div class="row mt-4">
          <div class="col-10 mx-auto">
            <button type="submit" class="btn btn-primary w-100" id="register" name="register">Register</button>
          </div>
        </div>

      </form>

    </div>
  </div>
</div>

{% endblock %}